.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav > li {
    display: inline-block !important;
}

li.octo {
    max-height: 50px;
}

li.octo a {
    max-height: 50px;
}

li.octo img {
    position: relative;
    top: -5px;
}

.navLinkSongSim {
    font-size: large;
}
