.galleryFrame {
    width: 95%;
    margin-left: 2.5%;
}

.galleryFrame img {
    background-color: rgb(250, 250, 255);
    border: 1px solid hsl(0, 0%, 75%);
    width: 100%;
}

.galleryFrame img.mini {
    image-rendering: pixelated;
}

.galleryLabel {
    height: 5em;
}

img.image-current {
    background-color: rgb(250, 250, 255);
    width: 66vmin !important;
    height: 66vmin !important;
    image-rendering: pixelated;
}

ul.nav {
    margin-bottom: 10px;
}
