.lyricsPane {
    margin-right: 2%;
    margin-left: 2%;
}

@media (max-width: 800px) {
    div.words {
        column-count: 1;
    }
    .lyricsPane {
        width: 300px;
    }
}

@media (min-width: 800px) {
    div.words {
        column-count: 2;
    }
}

textarea {
    width: 90%;
}

.lyrics {
    background-color: rgb(255, 255, 245);
    border-style: solid;
    border-color: rgb(240, 240, 255);
    min-height: 25vh;
}
