.matchText {
    background-color: rgb(240, 255, 240);
}

.porthole p {
    margin-bottom: 0;
    text-align: center;
}

p.continuation {
    text-align: right;
}

.porthole {
    min-height: 130px;
}
