.matrixHighlights {
    pointer-events: none;
}

rect.focalBlock {
    fill-opacity: 1;
    fill: rgb(235, 235, 255);
}


rect.alley {
    fill: yellow;
    fill-opacity: 0.0;
}

rect.wordrect {
    stroke: aqua;
    /** Depending on the amount of text and the size of the viewport, individual
     * rects can end up being really small, and hovering over them (and remaining
     * there) turns into a very finnicky affair. This helps with that by adding
     * some invisible padding around each rect. */
    stroke-width: 1.5;
    stroke-opacity: 0;
}

svg.matrix {
    background-color: rgb(255, 255, 245);
    border: black;
    border-style: solid;
    border-width: 1px;
}
