.mainContainer {
    display: flex;
    margin: 10px;
}

.mainContainerMobile {

}

.react-resizable-handle {
    bottom: -20px !important;
    right: -20px !important;
    background-size: 10px !important;
    background-position: top left !important;
}

.lyricsPane {
}
