.focal {
    text-decoration: underline;
}

.focal, .primary, .primary-maindiag {
    text-shadow: 0 0 1.5em rgb(0, 135, 255);
    font-weight: bold;
}

.incidental {
    text-shadow: 0 0 1.5em rgb(0, 135, 255);
}
